### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Delivery 2+ (not part of Delivery 1) ###
src/EntregaGrupal/Seller.java
src/EntregaGrupal/Product.java
src/EntregaGrupal/Sale.java
src/EntregaGrupal/SalesSystem.java

# Ignore Custom Folder
CONCEPTOS_FUNDAMENTALES_DE_PROGRAMACIÓN/